<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Product desc</th>
      <th>product Price</th>
      <th>product Category</th>
      <th>product Image</th>
      <th>product Quantity</th>
      <th>product Status</th>
      <th>product Rating</th>
      <th>product Reviews</th>
      <th>product Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempProduct of products">
      <td class="align-middle">{{ tempProduct.productId }}</td>
      <td class="align-middle">{{ tempProduct.productName }}</td>
      <td class="align-middle">{{ tempProduct.productDescription }}</td>
      <td class="align-middle">{{ tempProduct.productPrice }}</td>
      <td class="align-middle">{{ tempProduct.productCategory }}</td>
      <td class="align-middle"><img src="{{ tempProduct.productImage }}" height="50" /></td>
      <td class="align-middle">{{ tempProduct.productQuantity }}</td>
      <td class="align-middle">{{ tempProduct.productStatus }}</td>
      <td class="align-middle">{{ tempProduct.productRating }}</td>
      <td class="align-middle">{{ tempProduct.productReviews }}</td>
      <td class="align-middle">{{ tempProduct.productDiscount }}</td>
    </tr>
  </tbody>

  <!-- <p *ngFor="let tempProduct of products">
    {{ tempProduct.productName }}
  </p> -->
</table>
